rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    match /avatars/{fileName} {
      allow read;
      allow write: if request.auth != null
                   && fileName == request.auth.uid + '.webp'
                   && request.resource.size < 200 * 1024
                   && request.resource.contentType.matches('image/.*');
    }
  }
}
